* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mouse Memoirs', sans-serif;
                                                
}
.main-container{
    width: 100%;
    height: 100vh;
    background-image: url(https://wallpaperaccess.com/full/537069.jpg);
    object-fit: cover;
    object-position: top;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.listing{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    top: 0;
    left: 0;
    padding: 20px 10px 0 10px;
}
.list{
    color: white;
    z-index: 1;
    text-transform: capitalize;
    display: flex;
    list-style: none;
    justify-content: flex-end;

}
.list a{
    padding: 10px;
    color: white;
    text-decoration: none;
}
.car{
    width: 65px;
    height: 65px;
    z-index: 1;
    object-fit: contain;
   
}
.text h2{
    text-transform: uppercase;
    color: #fff;
    font-size: 50px;
    transition: 0.6s;
    
}
.text h2:hover{
    letter-spacing: 5px;
    
}
.text p:hover{
    letter-spacing: 5px;

}
.text p{
    text-transform: capitalize;
    color: #fff;
    font-size: 40px;
    margin-top: 53px;
    transition: 0.6s;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: relative;
    margin-top: 15%;
}
.shadow{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0, 0.4);
    top: 0;
    left: 0;
}
.skills-content p{
    font-weight: 700;
    font-size: 20px;
}
.skills-content{
    background-color:#efefef;
    padding: 100px 0 60px 0;
    background-image: url("https://img.freepik.com/free-photo/white-paper-texture-background_125540-900.jpg?w=2000");
    width: 100%;
    position: relative;
}
.img1{
    opacity: 0.1;
}
.short-text{
    text-align: center;
    
}
.short-text p{
    line-height: 40px;
    color: #000;
    font-size: 20px;
}
.profile-content img{
    width: 570px;
    height: 380px;
    object-fit: cover;
    margin-right: 40px;
    border-radius: 20px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    
    
}

.profile-content{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 50px auto 0;
    position: relative;
}
.profile-content p{
    line-height: 40px; 
}

span{
    line-height: 40px;
    color: #000;
    font-weight: 700;
    font-size: 20px;
}
.scales{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    position: relative;
    
}
.scale1{
    height: 15px;
    width: 480px;
    background-color: #1d7874;
    border-radius: 5px;
    position: absolute;
}
.back1{
    height: 15px;
    width: 550px;
    background-color: #155855;
    border-radius: 5px;
}
.scales h3{
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.scale2{
    height: 15px;
    width: 450px;
    background-color: #1d7874;
    border-radius: 5px;
}
.back2{
    height: 15px;
    width: 550px;
    background-color: #155855;
    border-radius: 5px;
}

.scale3{
    height: 15px;
    width: 500px;
    background-color: #1d7874;
    border-radius: 5px;
}
.back3{
    height: 15px;
    width: 550px;
    background-color: #155855;
    border-radius: 5px;
}
.scale4{
    height: 15px;
    width: 430px;
    background-color: #1d7874;
    border-radius: 5px;
}
.back4{
    height: 15px;
    width: 550px;
    background-color: #155855;
    border-radius: 5px;
}
.new{
    margin-bottom: 25px;
}
.new2{
    margin-bottom: 25px;
}
.txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 2s;
}
.txt1{
    font-size: 23px;
    color: black;
    font-weight: 700;
}
.part1{
    margin-left: 13px;
}
h2{
    font-size: 32px;
    font-weight: 800;
}

.funct{
    width: 100%;
    background-color: rgb(255, 255, 255);
   
}
.funct h2{
    text-align: center;
    text-transform: capitalize;
    color: #000;
    padding-top: 80px;
    
}
.boxing1{
    width: 350px;
    height: 350px;
    background-color: #155855;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 0.2s;
    border-radius: 7px;
}
.boxing{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 60px;

}
.boxing1 p{
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    margin: 0 15px;
    line-height: 25px;
}
.boxing1 h3{
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    text-transform: capitalize;
}
.boxing1:hover{
    transform: scale(110%);
    cursor: pointer;
}
.latest{
    width: 100%;
    
    background-color: #f7f7f7;
}
.boxes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 70px;
    
    
}
.latest h2{
    text-align: center;
    color: #000;
    text-transform: capitalize;
    font-weight: 700;
    padding-top: 100px;
}
.latest-boxes{
    width: 350px;
    height: 350px;
    background-color: #155855;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    position: relative;
    border-radius: 7px;
    line-height: 32px;
    

}
.latest-boxes p{
    font-size: 22px;
    text-align: center;
    color: white;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin-top: 22px;
}
.latest-boxes h3{
    font-size: 25px;
    color: white;
    letter-spacing: 3px;
    text-transform: capitalize;
}
.hov{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    z-index: 1;
    transition: .4s ;
    top: 0;
    left: 0;
    height: 0;

}
.latest-boxes:hover .hov{
    height: 100%;
    cursor: pointer;
}
.png{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    transition: .4s;
    
}
.latest-boxes:hover .png{
    transform: scale(1.2);   
}
.copy{
    background-color: rgb(19, 19, 19);
    width: 100%;
    height: 350px;
}
.copyright p{
    color: #777777;
    text-align: center;
    margin-top: 25px;
}
.one{
    background-color: #f3f3f3;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}
.twit{
    width: 50%;
    height: 50%;
    color: white;
    object-fit: contain;
}
.icons{
    display: flex;
    justify-content: center;
    padding-top: 100px; 
}

@media(max-width:992px) {
    .list{
        display: none;
    }

    .text h2{
        font-size: 32px;
        
    }
    .text p{
        font-size: 30px;
        margin-top: 20px;
    }

    .short-text p{
        
        font-size: 20px;
        margin: 20px 20px;
    }
    .short-text span{
        font-size: 18px;
       
    }
    .profile-content img{
        width: 70%;
        height: 55%;
        border-radius: 5px;
        margin: 0 auto;
    }
    .profile-content{
        display: flex;
        flex-direction: column;


    }
    .profile-content p{
        width: 90%;
        margin-top: 20px;
        font-size: 18px;
    }
    .scales{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    .boxing{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  
    .boxing1{
        margin: 20px;
    }
  
    .boxes{
        display: flex;
        flex-direction: column;  
    }
    .latest-boxes{
        margin: 20px;
    }
    .copyright{
        width: 80%;
        margin: 0 auto;
        line-height: 24px;
    }
    .copy{
        height: 280px;
    }
 
}







