* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mouse Memoirs', sans-serif;
                                                
}
.main-container{
    width: 100%;
    height: 100vh;
    background-image: url("../imgs/women.jpg");
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.text h2{
    text-transform: uppercase;
    color: #fff;
    font-size: 50px;
    transition: 0.6s;
}
.text h2:hover{
    letter-spacing: 5px;
    
}
.text p:hover{
    letter-spacing: 5px;

}
.text p{
    text-transform: capitalize;
    color: #fff;
    font-size: 40px;
    margin-top: 53px;
    transition: 0.6s;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: relative;
    margin-top: 15%;
}
.shadow{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0, 0.4);
    top: 0;
    left: 0;
}
.skills-content p{
    font-weight: 700;
    font-size: 20px;
}
.skills-content{
    background-color:#efefef;
    padding: 100px 0 60px 0;
    background-image: url("https://img.freepik.com/free-photo/gray-texture_1253-244.jpg?w=2000");
    height: 100%;
    width: 100%;
    position: relative;
}
.img1{
    opacity: 0.1;
}
.short-text{
    text-align: center;
    width: 700px;
    margin: 0 auto;
}
.short-text p{
    line-height: 40px;
    color: #000;
    font-size: 20px;
}
.profile-content img{
    width: 570px;
    height: 380px;
    object-fit: cover;
    margin-right: 40px;
    border-radius: 20px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    transition: 0.6s;
    
}
.profile-content img:hover{
    -webkit-transform: rotate(-8deg);
    border-radius: 0;

}
.profile-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 50px auto 0;
}
.profile-content p{
    line-height: 40px; 
}

span{
    line-height: 40px;
    color: #000;
    font-weight: 700;
    font-size: 20px;
}
.scales{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    position: relative;
    
}
.scale1{
    height: 15px;
    width: 480px;
    background-color: #1d7874;
    border-radius: 5px;
    position: absolute;
}
.back1{
    height: 15px;
    width: 550px;
    background-color: #155855;
    border-radius: 5px;
}
.scales h3{
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.scale2{
    height: 15px;
    width: 450px;
    background-color: #1d7874;
    border-radius: 5px;
}
.back2{
    height: 15px;
    width: 550px;
    background-color: #155855;
    border-radius: 5px;
}

.scale3{
    height: 15px;
    width: 500px;
    background-color: #1d7874;
    border-radius: 5px;
}
.back3{
    height: 15px;
    width: 550px;
    background-color: #155855;
    border-radius: 5px;
}
.scale4{
    height: 15px;
    width: 430px;
    background-color: #1d7874;
    border-radius: 5px;
}
.back4{
    height: 15px;
    width: 550px;
    background-color: #155855;
    border-radius: 5px;
}
.new{
    margin-bottom: 25px;
}
.new2{
    margin-bottom: 25px;
}
.txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 2s;
}
.txt1{
    font-size: 23px;
    color: black;
    font-weight: 700;
}
.part1{
    margin-left: 13px;
}
.txt:hover .txt1{
    margin-right: 300px;
    transition: 0.5s;
    color: rgb(122, 10, 10);
}
h2{
    font-size: 32px;
    font-weight: 800;
}

.funct{
    width: 100%;
    background-color: rgb(230, 230, 230);
    height: 100vh;
}
.funct h2{
    text-align: center;
    text-transform: capitalize;
    color: #000;
    padding-top: 80px;
    
}
.boxing1{
    width: 350px;
    height: 350px;
    background-color: #155855;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 0.2s;
}
.boxing{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px 40px;
    padding: 40px 60px;

}
.boxing1 p{
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    margin: 0 15px;
    line-height: 25px;
}
.boxing1 h3{
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    text-transform: capitalize;
}
.boxing1:hover{
    transform: scale(110%);
    cursor: pointer;
}
.latest{
    width: 100%;
    height: 100vh;
}
.boxes{
    display: flex;
    justify-content: space-between;
    margin: 60px 90px;
    


}
.latest h2{
    text-align: center;
    color: #000;
    text-transform: capitalize;
    margin-top: 100px;
    font-weight: 700;
}
.latest-boxes{
    width: 350px;
    height: 350px;
    background-color: #1d7874;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    
}

.latest-boxes p{
    font-size: 30px;
    text-align: center;
    color: white;
}
.latest-boxes h3{
    font-size: 35px;
    color: white;
    letter-spacing: 3px;
}
.hov{
    width: 350px;
    height: 350px;
    background-color: transparent;
    position: absolute;
}
.hov:hover{
    background-color: rgba(128, 0, 128, 0.5);
    height: ;
    width: 350px;

}






